@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Work+Sans:wght@500&display=swap');

*,
*::before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

 li {
    list-style: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
}

input {
    height: 50px;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    border-radius: 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    height: 50px;

}

header a {
    color: black;
}

.medio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.medio article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.final {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.final article {
    width: 250px;
    height: 250px;
}